<%= turbo_frame_tag id='funty_invoice' do %>
  <div>
    <h1 class="text-xl font-bold">Funty wallet number</h1>
    <h2 class="text-2xl font-bold text-center">rEX5oz43exnmJZjjfaVifNy3rqAnuMjFE7</h2>
    <p class="text-xl font-medium text-amber-500"> Attention! When you will transfer money, you have to write your token in the DestinationTag field.</p>
    <p class="text-2xl font-bold text-amber-500"> Token: <%= current_user.token %> </p>
    <p class="text-xl font-medium">Your money will be incresed too your wallet within 5 minutes.</p>
    <p class="text-xl font-medium">1XRP = 10000 Funty coins</p>
  </div>
<% end %>
