<div>
  <h1 class="text-5xl font-unbounded font-bold my-7 text-center">About Funty</h1>
</div>
<p class="text-xl font-unbounded font-bold">This is a pet project aimed at learning third-party APIs. I based it on online casinos. 
  The application utilizes a variety of technologies.
  Money withdrawals are handled through the <span class="text-purple-700">Ripple XRP API.</span>
  The project has jobs that execute transactions for withdrawing money or top up balance. 
  <span class="text-purple-700">Hotwire Turbo</span> enables dynamic page processing within the application during gameplay. 
  Additionally, <span class="text-purple-700">Redis</span> is used to store numbers in the application's memory for each user.
</p>
<div>
  <h1 class="text-5xl font-unbounded font-bold my-7 text-center">How to use Funty application?</h1>
</div>
<div class="flex items-center justify-center mb-8">
  <div class="w-full bg-purple-800 border border-t-8 border-l-8 border-b-13 border-r-13 border-black sm:p-6 md:p-8">
    <p class="text-xl font-unbounded font-bold text-amber-500">Step one.</p>
    <p class="text-lg font-medium">You can register in the app by filling out a form and entering any email. 
      You can also use Google registration. If you want to test Google auth, I need to add your email to the list of testers. 
      Please send me your email to my personal email address: <span class="text-md font-unbounded text-amber-500">buketovasofi@gmail.com</span>
    </p>
    <p class="text-xl font-unbounded font-bold text-amber-500">Step two.</p>
    <p class="text-lg font-medium">To play the game, go to the "Start Game" section. 
      The essence of the game is that you have four random numbers on your screen ranging from 10 to 99. 
      The program selects one of the numbers displayed. 
      Your task is to guess this number. The website includes a balance system: initially, you have <span class="text-md font-unbounded text-amber-500">150,0000 coins</span> in your account. 
      One game costs <span class="text-md font-unbounded text-amber-500">5,0000 coins</span>, and if you win, you will receive <span class="text-md font-unbounded text-amber-500">+15,0000 coins</span> added to your balance.
    </p>
    <p class="text-xl font-unbounded font-bold text-amber-500">Step three.</p>
    <p class="text-lg font-medium">In the 'wallet' section, you can top up your balance or withdraw funds. For example, to withdraw funds, you need to create a Ripple wallet and fill out the form.</p>
  </div>
</div>
<div class="mb-8">
  <h1 class="text-5xl font-unbounded font-bold my-7 text-center">Contact</h1>
  <p class="text-xl font-unbounded font-bold">If the project is not functioning correctly or if you have any questions, please email me. <br>
    My email: buketovasofi@gmail.com <br>
    My GitHub: <a class="md:hover:text-purple-700" href="https://github.com/SunSof"> https://github.com/SunSof</a>
  </p>
</div>
