<div class="container flex flex-wrap items-center justify-between mx-auto">
  <div class="hidden w-full md:block md:w-auto">
    <h1 class="text-5xl font-unbounded font-bold">Welcome to Funty!</h1>
    <p class="pl-2 text-xl text-purple-900 font-bold">Play with us! Win, earn, relax!</p>
  </div>
  <a class="flex items-center border-t-8 border-l-8 border-b-13 border-r-13 border-black">
    <%= image_tag("index.jpg", width:"600", height:"600", alt:"Gameboy") %>
  </a>
</div>
