---
http_interactions:
- request:
    method: post
    uri: https://s.altnet.rippletest.net:51234/
    body:
      encoding: UTF-8
      string: '{"method":"fee","params":[{}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"current_ledger_size\":\"4\",\"current_queue_size\":\"0\",\"drops\":{\"base_fee\":\"10\",\"median_fee\":\"5000\",\"minimum_fee\":\"10\",\"open_ledger_fee\":\"10\"},\"expected_ledger_size\":\"39\",\"ledger_current_index\":45251526,\"levels\":{\"median_level\":\"128000\",\"minimum_level\":\"256\",\"open_ledger_level\":\"256\",\"reference_level\":\"256\"},\"max_queue_size\":\"2000\",\"status\":\"success\"}}\n\r\n"
  recorded_at: Fri, 09 Feb 2024 09:57:23 GMT
recorded_with: VCR 6.2.0
