---
http_interactions:
- request:
    method: post
    uri: https://s.altnet.rippletest.net:51234/
    body:
      encoding: UTF-8
      string: '{"method":"account_tx","params":[{"account":"654321"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"error\":\"actMalformed\",\"error_code\":35,\"error_message\":\"Account
        malformed.\",\"request\":{\"account\":\"654321\",\"command\":\"account_tx\"},\"status\":\"error\"}}\n\r\n"
  recorded_at: Fri, 09 Feb 2024 09:43:49 GMT
recorded_with: VCR 6.2.0
