<div>
  <h1 class="text-5xl font-unbounded font-bold my-7 text-center">Rules</h1>
</div>
<div class="flex items-center justify-center mb-8">
  <div class="w-full max-w-lg bg-purple-800 border border-t-8 border-l-8 border-b-13 border-r-13 border-black sm:p-6 md:p-8">
    <p class="text-lg font-medium">One game costs 5000 coins. To play the game, choose one number out of four numbers displayed on the screen. 
      If you guess the number chosen by the program, you win 10000 coins. If you don't guess correctly, you will not lost any money.</p>
    <div class="flex items-center justify-center mb-4">
      <%= link_to "Start game", new_game_path, class:"w-full font-bold border border-t-8 border-l-8 border-b-13 border-r-13 border-black bg-amber-500 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 text-lg mt-3 py-5 text-center" %>
    </div>
  </div>
</div>